body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.hidden {
    /*클래스 이름*/
    /*요소 숨기기*/
    display: none;
}

#bgImage {
    position: absolute;
    left: 0;
    top: 0;

    max-width: 100%;
    min-width: 1880px;

    max-height: 1400px;
    min-height: 1200px;

    z-index: -5;
    filter: brightness(50%);
}

#clock {
    display: block;
    color: #f8f8f8;
    text-shadow: 10px 10px 20px violet;
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

#login-form {
    width: 400px;
    margin: 50px auto;
    text-align: center;
}

#login-form input:first-child {
    width: 240px;
    height: 30px;
    font-size: 22px;
    background-color: rgba(255, 255, 255, 0.5);
}

#login-form input:last-child {
    width: 80px;
    height: 33px;
    font-size: 22px;
    background-color: rgba(113, 113, 111, 0.7);
}

#greeting {
    font-size: 50px;
    text-align: center;
    color: #dfd5e4;
    text-shadow: 10px 10px 20px #9e62c2;
}

#todo-form {
    margin: 50px auto 0;
    text-align: center;
}

#todo-form input {
    width: 300px;
    height: 30px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    color: gray;
}

#login-form input:first-child:hover, #todo-form input:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

#login-form input:last-child:hover {
    background-color: rgba(113, 113, 111, 1);
}

#todo-list {
    text-align: center;
    margin: 30px auto;
    width: 300px;
    font-size: 20px;
    color: #c9d7d6;
    font-weight: bold;
    text-shadow: 10px 10px 20px skyblue;
}

#todo-list li {
    line-height: 30px;
}

#btn-id {
    background-color: rgba(113, 113, 111, 0.7);
}

#quote {
    display: block;
    margin: 200px auto 0;
    text-align: center;
    color: #e2efe4;
    font-size: 20px;
    text-shadow: 10px 10px 20px #66a26c;
}

#weather {
    color: #fcf9d1;
    text-shadow: 10px 10px 20px #e6de45;
    font-size: 16px;
    position: absolute;
    right: 30px;
    top: 30px;
}